;; Your file has been converted to the new flat format.
;; Conversion does not preserve comments or indentation.
;; File is backed up at /Users/benjamin/Library/Application Support/LightTable/User/user.keymap.bak
[
 [:app "pmeta-ctrl-shift-d" :docs.search.show]
 [:app "pmeta-shift-a" :show-commandbar-transient]

 [:editor "alt-esc" :clear-inline-results]
 [:editor "alt-shift-down" :editor.sublime.swapLineDown]
 [:editor "alt-shift-up" :editor.sublime.swapLineUp]
 [:editor "alt-shift-w" :editor.watch.unwatch]
 [:editor "alt-tab" :snippet.by_token]
 [:editor "alt-up" :editor.sublime.selectNextOccurrence]
 [:editor "alt-w" :editor.watch.watch-selection]
 [:editor "cmd-/" :toggle-comment-selection :editor.line-down]
 [:editor "cmd-[" :paredit-plus.wrap-square]
 [:editor "cmd-backspace" :editor.delete-line]
 [:editor "cmd-shift-'" :paredit-plus.wrap-quote]
 [:editor "cmd-shift-8" :editor.sublime.splitSelectionByLine]
 [:editor "cmd-shift-9" :paredit-plus.wrap-round]
 [:editor "cmd-shift-[" :paredit-plus.wrap-curly]
 [:editor "cmd-shift-d" :editor.sublime.duplicateLine]
 [:editor "cmd-shift-w" :tabs.close-all]
 [:editor "ctrl-d" :editor.doc.toggle]
 [:editor "ctrl-g" :editor.sublime.selectNextOccurrence]
 [:editor "ctrl-left" :editor.sublime.goToBracket]
 [:editor "ctrl-right" :editor.sublime.goToBracket]
 [:editor "ctrl-shift-left" :subpar.shrink.right :editor.char-left :paredit.select.clear]
 [:editor "ctrl-shift-right" :subpar.grow.right]
 [:editor "ctrl-shift-s" :editor.sublime.sortLines]
 [:editor "ctrl-shift-up" :paredit-plus.splice-sexp]
 [:editor "ctrl-w" :tabs.close-others]
 [:editor "shift-esc" :clear-console]
 [:editor "shift-forward-delete" :editor.delete-group-right]
]
